*****NOTE*****:**It's Very very Basic Naive Network,Very Basic ML Neural Network with small Parameters. We will see all advance topics which will used in Neural Networks to make more efficient and powerful using ML Strategies Further.**

In [ ]:
import tensorflow as tf
'''
Currently, we won't use any Images in this "Neural Networks" while coming to "Convolutions" we use Images.Till now we will use "Structural Data" other than Images Now.
So, we can use Pandas and NumPy Mainly we Require these 2.
'''
import pandas as pd
import numpy as np

In [ ]:
train_data = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
#Before going to Building the model we have to make the Data compatibility.We have to check the Data how the Data is and all.
#We have to see the Data First.
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
train_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#Here "train_data.columns" is not a List DataType
type(train_data.columns)

pandas.core.indexes.base.Index

In [ ]:
#It Stores all the features/columns except label feature/column 
#Here "train_data.columns" is explicitly type casted to List Type.So, we can perform List operations 
#The remove() method takes a single element as an argument and removes it from the list. If the element doesn't exist, it throws 
#ValueError: list. remove(x): x not in list exception.
X_features = list(train_data.columns)
X_features.remove("median_house_value")
X_features

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

In [ ]:
#Here Im extracting X all the Records with only these above features except label
train_data_X = train_data[X_features]
train_data_X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250
...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147

In [ ]:
train_data_Y = train_data["median_house_value"]

In [ ]:
#Here we are converting "train_data_X" this whole DataFrame into NumPy Array.Bcs, Tensorflow Expects Numpy Arrays OR Tensors
#We have "to_numpy()" function in the Pandas DataFrame.We need to give "to_numpy" to the Pandas DataFrame
# "to_numpy" is an in-built function in Pandas. then this whole DataFrame will be converted into NumPy Array.
#Here "train_data_X" is a DataFrame Before converting into "numpy" Array
train_data_X = train_data_X.to_numpy()
#Here "shape" represents shape of the "train_data_X".17000 is the number of examples and 8 is number of features/columns
#Now we are good for the training data for X
train_data_X.shape

(17000, 8)

In [ ]:
#Here we are converting "train_data_Y" this whole DataFrame into NumPy Array.Bcs, Tensorflow Expects Numpy Arrays OR Tensors
#We have "to_numpy()" function in the Pandas DataFrame.We need to give "to_numpy()" to the Pandas DataFrame.
# "to_numpy" is an in-built function in Pandas
#Here "train_data_Y" is a Series not DataFrame Before converting into "numpy" Array 
train_data_Y = train_data_Y.to_numpy()
train_data_Y.shape
#Here it is (17000,) it means 17000 examples and 1 feature/column/label

(17000,)

***NOTE***: Here Our Input Data is in the form of Image which has (64*64) Resolution ==> 4,096 pixels we can also call each "pixel" as one "feature".Likewise, we have
1024 images with (64*64) Resolution. Each input Image will be treated as an Example it means we have "1024" Examples/images with "4,096" features/pixels. 

Q) My Input is (64*64) Resolution ==> 4,096 pixels/features image of 1024 images. then I have 12 nodes of hidden layer 1, 18 nodes of hidden layer 2, 6 nodes of 
hidden layer 3, 2 nodes of hidden layer 4, 1 node of output layer? 

Draw Network? --> We need to write/draw the Network then only we can do it furtherly, We can see OR Imagine in our Mind. When we have that in our Mind then only we can write the Program and also Visualize what is happening in Each Layer.If anything Problem occurs OR If Training was not done properly OR If we didn't get accuracy of our Output Propely So, we can Inspect it Ok in which layer the problem occured and where is that problem occured we can able to Inspect it.

In [ ]:
'''
Currently, we won't use any Images in this "Neural Networks" while coming to "Convolutions" we use Images.Till now we will use 
"Structural Data" other than Images Now.
'''
'''
In this we need to change configuration of nodes and test it this changing configuration to obtain best results is called "Hyper Parameters"
We discuss this "Hyper Parameters" Later in ML Strategies.Here we are taking activation function like "relu" for now to inorder to complete 
Example/programming.We discuss this "activation" function Later in ML Strategies.

'''
# Here "Dense" is used for "number of nodes in Hidden_layer".
#The input for this "hidden_layer1" is previous layer which is "input_layer"
#The input for this "hidden_layer2" is previous layer which is "hidden_layer1"
#The input for this "hidden_layer3" is previous layer which is "hidden_layer2"
#The input for this "hidden_layer4" is previous layer which is "hidden_layer3"
#The input for this "output_layer" is previous layer which is "hidden_layer4"
#Currently, the number of examples are not concerned for us now.We take only the features/nodes.So, it is in 1D
input_layer = tf.keras.Input(shape=(8,)) #Here "8" is number of features
#One more thing we have to Normalize the Input here.Normalization layer should be there
normalization_layer = tf.keras.layers.Normalization()(input_layer)
hidden_layer1 = tf.keras.layers.Dense(15,activation="relu")(normalization_layer)  
hidden_layer2 = tf.keras.layers.Dense(12,activation="relu")(hidden_layer1)
hidden_layer3 = tf.keras.layers.Dense(6,activation="relu")(hidden_layer2)  
hidden_layer4 = tf.keras.layers.Dense(2,activation="relu")(hidden_layer3)  
output_layer = tf.keras.layers.Dense(1,activation="relu")(hidden_layer4)  
# Here "keras" is a Sub module in that "models" is a package in that "Model" is a class in this class we are giving "input & output" Layer 
model = tf.keras.models.Model(input_layer,output_layer)

In [ ]:
model.summary()
#In Below the Output shape of each layer is w.r.t Parameters "W,b" in 1D without considering Examples OR w.r.t 1 Example

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 8)]               0

 normalization_1 (Normalizat  (None, 8)                17
 ion)

 dense_10 (Dense)            (None, 15)                135

 dense_11 (Dense)            (None, 12)                192

 dense_12 (Dense)            (None, 6)                 78

 dense_13 (Dense)            (None, 2)                 14

 dense_14 (Dense)            (None, 1)                 3

=================================================================
Total params: 439
Trainable params: 422
Non-trainable params: 17
_________________________________________________________________

In [ ]:
model.compile(optimizer="adam",loss="mse",metrics="mse")

In [ ]:
model.fit(train_data_X,train_data_Y,epochs=100)

Epoch 1/100
532/532 [==============================] - 2s 2ms/step - loss: 37836242944.0000 - mse: 37836242944.0000
Epoch 2/100
532/532 [==============================] - 1s 2ms/step - loss: 26253715456.0000 - mse: 26253715456.0000
Epoch 3/100
532/532 [==============================] - 1s 2ms/step - loss: 24741402624.0000 - mse: 24741402624.0000
Epoch 4/100
532/532 [==============================] - 1s 2ms/step - loss: 22587856896.0000 - mse: 22587856896.0000
Epoch 5/100
532/532 [==============================] - 1s 3ms/step - loss: 19019407360.0000 - mse: 19019407360.0000
Epoch 6/100
532/532 [==============================] - 1s 3ms/step - loss: 14237185024.0000 - mse: 14237185024.0000
Epoch 7/100
532/532 [==============================] - 1s 2ms/step - loss: 11763154944.0000 - mse: 11763154944.0000
Epoch 8/100
532/532 [==============================] - 1s 2ms/step - loss: 11311997952.0000 - mse: 11311997952.0000
Epoch 9/100
532/532 [==============================] - 1s 2ms/step - loss: 11138513920.0000 - mse: 11138513920.0000
Epoch 10/100
532/532 [==============================] - 1s 2ms/step - loss: 11011881984.0000 - mse: 11011881984.0000
Epoch 11/100
532/532 [==============================] - 1s 2ms/step - loss: 10886995968.0000 - mse: 10886995968.0000
Epoch 12/100
532/532 [==============================] - 1s 2ms/step - loss: 10770811904.0000 - mse: 10770811904.0000
Epoch 13/100
532/532 [==============================] - 1s 2ms/step - loss: 10638546944.0000 - mse: 10638546944.0000
Epoch 14/100
532/532 [==============================] - 1s 2ms/step - loss: 10519515136.0000 - mse: 10519515136.0000
Epoch 15/100
532/532 [==============================] - 1s 2ms/step - loss: 10383305728.0000 - mse: 10383305728.0000
Epoch 16/100
532/532 [==============================] - 1s 2ms/step - loss: 10223905792.0000 - mse: 10223905792.0000
Epoch 17/100
532/532 [==============================] - 1s 2ms/step - loss: 10036795392.0000 - mse: 10036795392.0000
Epoch 18/100
532/532 [==============================] - 1s 3ms/step - loss: 9822571520.0000 - mse: 9822571520.0000
Epoch 19/100
532/532 [==============================] - 1s 2ms/step - loss: 9596597248.0000 - mse: 9596597248.0000
Epoch 20/100
532/532 [==============================] - 1s 2ms/step - loss: 9340281856.0000 - mse: 9340281856.0000
Epoch 21/100
532/532 [==============================] - 1s 2ms/step - loss: 9083290624.0000 - mse: 9083290624.0000
Epoch 22/100
532/532 [==============================] - 1s 2ms/step - loss: 8815428608.0000 - mse: 8815428608.0000
Epoch 23/100
532/532 [==============================] - 1s 2ms/step - loss: 8601286656.0000 - mse: 8601286656.0000
Epoch 24/100
532/532 [==============================] - 1s 2ms/step - loss: 8404739584.0000 - mse: 8404739584.0000
Epoch 25/100
532/532 [==============================] - 1s 2ms/step - loss: 8224955392.0000 - mse: 8224955392.0000
Epoch 26/100
532/532 [==============================] - 1s 2ms/step - loss: 8063789056.0000 - mse: 8063789056.0000
Epoch 27/100
532/532 [==============================] - 1s 2ms/step - loss: 7927649280.0000 - mse: 7927649280.0000
Epoch 28/100
532/532 [==============================] - 1s 2ms/step - loss: 7796270592.0000 - mse: 7796270592.0000
Epoch 29/100
532/532 [==============================] - 1s 2ms/step - loss: 7675908608.0000 - mse: 7675908608.0000
Epoch 30/100
532/532 [==============================] - 1s 3ms/step - loss: 7575385600.0000 - mse: 7575385600.0000
Epoch 31/100
532/532 [==============================] - 1s 2ms/step - loss: 7490660864.0000 - mse: 7490660864.0000
Epoch 32/100
532/532 [==============================] - 1s 2ms/step - loss: 7381719040.0000 - mse: 7381719040.0000
Epoch 33/100
532/532 [==============================] - 1s 2ms/step - loss: 7290637312.0000 - mse: 7290637312.0000
Epoch 34/100
532/532 [==============================] - 1s 2ms/step - loss: 7187692544.0000 - mse: 7187692544.0000
Epoch 35/100
532/532 [==============================] - 1s 2ms/step - loss: 7091334656.0000 - mse: 7091334656.0000
Epoch 36/100
532/532 [==============================] - 1s 2ms/step - loss: 6999186944.0000 - mse: 6999186944.0000
Epoch 37/100
532/532 [==============================] - 1s 2ms/step - loss: 6886117376.0000 - mse: 6886117376.0000
Epoch 38/100
532/532 [==============================] - 1s 2ms/step - loss: 6824643072.0000 - mse: 6824643072.0000
Epoch 39/100
532/532 [==============================] - 1s 2ms/step - loss: 6716865024.0000 - mse: 6716865024.0000
Epoch 40/100
532/532 [==============================] - 1s 2ms/step - loss: 6639365120.0000 - mse: 6639365120.0000
Epoch 41/100
532/532 [==============================] - 1s 2ms/step - loss: 6555511296.0000 - mse: 6555511296.0000
Epoch 42/100
532/532 [==============================] - 1s 3ms/step - loss: 6477471232.0000 - mse: 6477471232.0000
Epoch 43/100
532/532 [==============================] - 1s 3ms/step - loss: 6414027776.0000 - mse: 6414027776.0000
Epoch 44/100
532/532 [==============================] - 1s 2ms/step - loss: 6332346880.0000 - mse: 6332346880.0000
Epoch 45/100
532/532 [==============================] - 1s 2ms/step - loss: 6287345152.0000 - mse: 6287345152.0000
Epoch 46/100
532/532 [==============================] - 1s 2ms/step - loss: 6216266240.0000 - mse: 6216266240.0000
Epoch 47/100
532/532 [==============================] - 1s 2ms/step - loss: 6139514880.0000 - mse: 6139514880.0000
Epoch 48/100
532/532 [==============================] - 1s 2ms/step - loss: 6082957824.0000 - mse: 6082957824.0000
Epoch 49/100
532/532 [==============================] - 1s 2ms/step - loss: 6038093824.0000 - mse: 6038093824.0000
Epoch 50/100
532/532 [==============================] - 1s 2ms/step - loss: 5961717248.0000 - mse: 5961717248.0000
Epoch 51/100
532/532 [==============================] - 1s 2ms/step - loss: 5908061696.0000 - mse: 5908061696.0000
Epoch 52/100
532/532 [==============================] - 1s 2ms/step - loss: 5855427584.0000 - mse: 5855427584.0000
Epoch 53/100
532/532 [==============================] - 1s 2ms/step - loss: 5804668928.0000 - mse: 5804668928.0000
Epoch 54/100
532/532 [==============================] - 1s 2ms/step - loss: 5753991680.0000 - mse: 5753991680.0000
Epoch 55/100
532/532 [==============================] - 1s 3ms/step - loss: 5702502400.0000 - mse: 5702502400.0000
Epoch 56/100
532/532 [==============================] - 1s 2ms/step - loss: 5660783616.0000 - mse: 5660783616.0000
Epoch 57/100
532/532 [==============================] - 1s 2ms/step - loss: 5589282816.0000 - mse: 5589282816.0000
Epoch 58/100
532/532 [==============================] - 1s 2ms/step - loss: 5557388800.0000 - mse: 5557388800.0000
Epoch 59/100
532/532 [==============================] - 1s 2ms/step - loss: 5493688320.0000 - mse: 5493688320.0000
Epoch 60/100
532/532 [==============================] - 1s 2ms/step - loss: 5443993088.0000 - mse: 5443993088.0000
Epoch 61/100
532/532 [==============================] - 1s 2ms/step - loss: 5416198144.0000 - mse: 5416198144.0000
Epoch 62/100
532/532 [==============================] - 1s 2ms/step - loss: 5363140608.0000 - mse: 5363140608.0000
Epoch 63/100
532/532 [==============================] - 1s 2ms/step - loss: 5323862016.0000 - mse: 5323862016.0000
Epoch 64/100
532/532 [==============================] - 1s 2ms/step - loss: 5273593344.0000 - mse: 5273593344.0000
Epoch 65/100
532/532 [==============================] - 1s 2ms/step - loss: 5235567616.0000 - mse: 5235567616.0000
Epoch 66/100
532/532 [==============================] - 1s 2ms/step - loss: 5170170368.0000 - mse: 5170170368.0000
Epoch 67/100
532/532 [==============================] - 1s 3ms/step - loss: 5111475712.0000 - mse: 5111475712.0000
Epoch 68/100
532/532 [==============================] - 1s 2ms/step - loss: 5073377792.0000 - mse: 5073377792.0000
Epoch 69/100
532/532 [==============================] - 1s 2ms/step - loss: 5038902272.0000 - mse: 5038902272.0000
Epoch 70/100
532/532 [==============================] - 1s 2ms/step - loss: 5005184512.0000 - mse: 5005184512.0000
Epoch 71/100
532/532 [==============================] - 1s 2ms/step - loss: 4961115136.0000 - mse: 4961115136.0000
Epoch 72/100
532/532 [==============================] - 1s 2ms/step - loss: 4936961536.0000 - mse: 4936961536.0000
Epoch 73/100
532/532 [==============================] - 1s 2ms/step - loss: 4903939072.0000 - mse: 4903939072.0000
Epoch 74/100
532/532 [==============================] - 1s 2ms/step - loss: 4848002560.0000 - mse: 4848002560.0000
Epoch 75/100
532/532 [==============================] - 1s 2ms/step - loss: 4847143936.0000 - mse: 4847143936.0000
Epoch 76/100
532/532 [==============================] - 1s 2ms/step - loss: 4814952448.0000 - mse: 4814952448.0000
Epoch 77/100
532/532 [==============================] - 1s 2ms/step - loss: 4781414912.0000 - mse: 4781414912.0000
Epoch 78/100
532/532 [==============================] - 1s 2ms/step - loss: 4768596992.0000 - mse: 4768596992.0000
Epoch 79/100
532/532 [==============================] - 1s 3ms/step - loss: 4759309312.0000 - mse: 4759309312.0000
Epoch 80/100
532/532 [==============================] - 1s 3ms/step - loss: 4732830720.0000 - mse: 4732830720.0000
Epoch 81/100
532/532 [==============================] - 1s 2ms/step - loss: 4703474176.0000 - mse: 4703474176.0000
Epoch 82/100
532/532 [==============================] - 1s 2ms/step - loss: 4685574656.0000 - mse: 4685574656.0000
Epoch 83/100
532/532 [==============================] - 1s 2ms/step - loss: 4737818624.0000 - mse: 4737818624.0000
Epoch 84/100
532/532 [==============================] - 1s 2ms/step - loss: 4715979264.0000 - mse: 4715979264.0000
Epoch 85/100
532/532 [==============================] - 1s 2ms/step - loss: 4704607232.0000 - mse: 4704607232.0000
Epoch 86/100
532/532 [==============================] - 1s 2ms/step - loss: 4660190208.0000 - mse: 4660190208.0000
Epoch 87/100
532/532 [==============================] - 1s 2ms/step - loss: 4648393728.0000 - mse: 4648393728.0000
Epoch 88/100
532/532 [==============================] - 1s 2ms/step - loss: 4634854400.0000 - mse: 4634854400.0000
Epoch 89/100
532/532 [==============================] - 1s 2ms/step - loss: 4626382848.0000 - mse: 4626382848.0000
Epoch 90/100
532/532 [==============================] - 1s 2ms/step - loss: 4641001984.0000 - mse: 4641001984.0000
Epoch 91/100
532/532 [==============================] - 1s 2ms/step - loss: 4629100544.0000 - mse: 4629100544.0000
Epoch 92/100
532/532 [==============================] - 1s 3ms/step - loss: 4670827520.0000 - mse: 4670827520.0000
Epoch 93/100
532/532 [==============================] - 1s 2ms/step - loss: 4643651584.0000 - mse: 4643651584.0000
Epoch 94/100
532/532 [==============================] - 1s 2ms/step - loss: 4616002048.0000 - mse: 4616002048.0000
Epoch 95/100
532/532 [==============================] - 1s 2ms/step - loss: 4608548352.0000 - mse: 4608548352.0000
Epoch 96/100
532/532 [==============================] - 1s 2ms/step - loss: 4625519104.0000 - mse: 4625519104.0000
Epoch 97/100
532/532 [==============================] - 1s 2ms/step - loss: 4636102656.0000 - mse: 4636102656.0000
Epoch 98/100
532/532 [==============================] - 1s 2ms/step - loss: 4637962752.0000 - mse: 4637962752.0000
Epoch 99/100
532/532 [==============================] - 1s 2ms/step - loss: 4605157888.0000 - mse: 4605157888.0000
Epoch 100/100
532/532 [==============================] - 1s 2ms/step - loss: 4614469632.0000 - mse: 4614469632.0000

In [ ]:
#ENow, we have the model with Us then we can save the model with the "model.save()" with naming "model.h5" 
#Basically, the "h5" is the format of this we need to save.then it will be saved and we can download it and use for inferencing,deploying 
model.save("model.h5")